description: >
  Expose service via ingress
usage:
  version: 2.1
  orbs:
    python: circleci/python@0.3.2
    k3d: devopsspiral/k3d@0.1.0
  jobs:
    test-k3d-expose-via-ingress:
      #can be any docker executor
      executor: python/default
      steps:
        - setup_remote_docker
        - checkout
        # - python/load-cache
        # - python/install-deps
        # - python/save-cache
        # - etc.
        - k3d/k3d-helpers
        - k3d/k3d-up:
            cluster-name: circleci-k8s-1
        - k3d/k3d-run:
            step-name: Expose service via ingress
            command: |
              helm repo add stable https://kubernetes-charts.storage.googleapis.com
              helm install grafana stable/grafana -f /repo/grafana/with_ingress.yaml
              sleep 45
              export INGRESS_IP=$(kubectl get ing --namespace default grafana -o jsonpath='{.status.loadBalancer.ingress[0].ip}')
              docker run --rm -it --network k3d-${K3D_CLUSTER} busybox /bin/sh -c "echo '${INGRESS_IP}  chart-example.local' >> /etc/hosts; wget http://chart-example.local/; grep Grafana index.html"

  workflows:
    main:
      jobs:
        - test-k3d-expose-via-ingress
